page-my-products {

}

.user-image{
    width : 80px; 
    height : 80px;
    border-radius:50%;
}

.user-name {
    font-size: 18px;
}

.products-count {
    font-size: 14px;
}

// ion-header {
//     background-color: #f37b21; 
// }

.toolbar-background{
    background-color: #f37b21; 
}

.toolbar-title-md {
    color: white;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: white;
}

.userPanel {
    padding: 10px;
}

.item-md ion-icon {
    color: #f37b21; 
}